<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SRUL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SRUL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <SRUL.Properties.Settings>
            <setting name="PaypalLink" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=soularebel%40yahoo%2ecom&amp;lc=ID&amp;item_name=InDependent%20System%2e&amp;item_number=SRULRealTimeEditor%20Support&amp;no_note=0&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest</value>
            </setting>
            <setting name="DonorboxLink" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=soularebel%40yahoo%2ecom&amp;lc=ID&amp;item_name=InDependent%20System%2e&amp;item_number=SRULRealTimeEditor%20Support&amp;no_note=0&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest</value>
            </setting>
            <setting name="ApplicationMainDefaultSize" serializeAs="String">
                <value>481, 688</value>
            </setting>
            <setting name="ApplicationLoaderDefaultSize" serializeAs="String">
                <value>211, 358</value>
            </setting>
            <setting name="ApplicationAdsKey" serializeAs="String">
                <value>p8vzazwanqyo</value>
            </setting>
            <setting name="ResourceGroupByColumn" serializeAs="String">
                <value>subCategory</value>
            </setting>
        </SRUL.Properties.Settings>
        <DevExpress.LookAndFeel.Design.AppSettings>
            <setting name="DefaultAppSkin" serializeAs="String">
                <value>Skin/Visual Studio 2013 Dark</value>
            </setting>
            <setting name="DefaultPalette" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="TouchUI" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="CompactUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TouchScaleFactor" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="DirectX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegisterUserSkins" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="RegisterBonusSkins" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="FontBehavior" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="DefaultAppFont" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="DPIAwarenessMode" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="CustomPaletteCollection" serializeAs="Xml">
                <value />
            </setting>
        </DevExpress.LookAndFeel.Design.AppSettings>
    </applicationSettings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <userSettings>
        <SRUL.Properties.Settings>
            <setting name="UserFreezeAllowIncrease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCurrentTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserThemes" serializeAs="String">
                <value>Visual Studio 2013 Dark</value>
            </setting>
            <setting name="UserSkin" serializeAs="String">
                <value>Visual Studio 2013 Dark</value>
            </setting>
            <setting name="MiniEditorToTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MiniEditorToLeft" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="ResourceTABShowKMBFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResourceTABShowVolumeMetrics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarfareTABShowResourceAsPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarfareTABShowResourceAsDailyAnnually" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarfareTABPersistantAutoFreeze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarfareTABModeTracking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarfareTABModeHover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainerOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LOCATION_MINIEDITOR_X" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LOCATION_MINIEDITOR_Y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpecialTABRailRoadDaysToBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialTABRailRoadHotKey" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="SpecialTABRailRoadModifierHotKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResourcesTABIncludedFeatureRow" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt; &lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;   &lt;string&gt;Stock&lt;/string&gt;   &lt;string&gt;Demands&lt;/string&gt;   &lt;string&gt;Actual Use&lt;/string&gt;   &lt;string&gt;Production Capacity&lt;/string&gt;   &lt;string&gt;Production Cost&lt;/string&gt;   &lt;string&gt;Market Price&lt;/string&gt;   &lt;string&gt;Margin&lt;/string&gt;   &lt;string&gt;Base Cost&lt;/string&gt;   &lt;string&gt;Full Cost&lt;/string&gt;   &lt;string&gt;City Production &lt;/string&gt;   &lt;string&gt;Node Production&lt;/string&gt;   &lt;string&gt;Max Demand&lt;/string&gt;   &lt;string&gt;Min Demand&lt;/string&gt; &lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </SRUL.Properties.Settings>
    </userSettings>
</configuration>